
/*------------------------------------*\
  * #skip-link
  * Style skip to main content link and show on tab focus
\*------------------------------------*/

.skiplink-container {
  background-color: $black;

  div {
    line-height: 1.4em;
  }

  .skiplink {
    position: absolute;
    left: -9999em;
    display: inline-block;
    color: $white;
  }

  .skiplink:focus {
    position: static;
  }
}
